 @import url('https://fonts.googleapis.com/css2?family=Anta&family=Inter:wght@100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

 :root {
   --purple: #7988f4;
   --white: #fff;
   --black: #161616;
   --grey: #635f5f;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter";
   color: var(--black);
 }

html{
  font-size: 100%;
}

 body {
   width: 100%;

   height: 100vh;
   background: var(--white);

 }
 a{
  text-decoration: none;
 }

 img {
   max-width: 100%;
   max-height: 100%;
 }



 .main {

   display: flex;
   width: 100%;
   height: 100vh;
   justify-content: center;
   gap: 4rem;
   padding: 4rem 4.5rem;
 }

 .profile-img {
   display: flex;
   border: .6rem solid rgb(232, 227, 227);
   border-radius: 50rem;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 13rem;
   height: 13rem;
   
transition: all .4s linear;
 }
 .profile-img:hover{
  border: .6rem solid rgb(255, 190, 190);
 }

 .p-image {

   z-index: 1;
   border-radius: 40rem;
 }

 .badge {
   position: absolute;
   top: 80%;
   z-index: 11111111;
   width: 1.9rem;
   height: 1.9rem;
   border: .3rem solid #eee;

   border-radius: 30rem;
   font-size: 1.5rem;
   left: 80%;




 }

 .btn-resume {
   margin-left: 1rem;
   background: #bba8e8;
   font-family: 'Inter';
   color: white;
   outline: none;
   border: 0;
   border-radius: .2rem;
   cursor: pointer;
   padding: .6rem 1.5rem;

   transition: all .2s ease-in;
 }

 .btn-resume:hover {
   background: #aca9f7;

 }

 
 .name h1 {
  transition: all 1s linear;
  
   padding-top: 1.5rem;
   color: var(--black);
   font-size: 2.4rem;
   font-family: "Inter";
   font-weight: 400;
   letter-spacing: -.1rem;
height: 3rem;
padding-bottom: 3rem;

 }
 .name h1:hover{
  font-family: "Anta";
 }

 .name ul {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   padding: 1rem 0;
   align-items: flex-start;

 }

 .name ul li {
   text-align: left;
   color: var(--grey);
   font-size: 1.3rem;
   font-weight: 400;
   list-style: none;
 }

 .myself {
   max-width: 100%;
 }

 .btn {
   font-family: 'Inter';
   color: white;
   outline: none;
   border: 0;
   border-radius: .2rem;
   cursor: pointer;
   padding: .6rem 1.5rem;
   background-color: var(--purple);
   transition: all .2s ease-in;
 }

 .btn:hover {
   background-color: #8892de;
   padding: .6rem 1.8rem;
 }
 .active{
  background-color: #cf8b8b;
 }

 .about-section {
   padding-top: 2rem;
   width: 30%;
   display: flex;
   justify-content: center;
 }

 /* Modes styling  */
 .mode-btns {
   margin: 2rem 0;
   display: flex;
   gap: .5rem;

 }

 .mode-btn {
   cursor: pointer;
   color: white;
   border-radius: .1rem;
   outline: none;
   border: none;
   padding: .4rem .7rem;
   transition: all .4s ease;
   background-color: var(--purple);
 }

 .mode-btn:hover {
   background-color: #7988f4;

 }

 .mode-btn:active {
   background-color: black;
 }

 /* description styling  */

 .description {
   width: 70%;


   padding: 1rem;

   height: fit-content;
 
 }
 button{
  cursor: pointer;
 }

 .d-boxs {
   width: 100%;
   height: 100%;
   margin-bottom: 3rem;
  
 }

 .d-box-container {
  height: 100%;
 
  
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 3rem;
 }

 .d-boxs h4 {
   font-weight: 600;
   font-size: 1.3rem;
   margin: 2rem 0;
 }
 .heading{
  font-weight: 600;
  font-size: 1.3rem;
  margin: 2rem 0;
  padding-bottom: 1rem;
 }

 .d-box h6 {
   font-size: 1.2rem;
   font-weight: 600;

 }

 .d-box p {
   padding-top: .5rem;
   color: var(--grey);
   font-size: .85rem;

 }

 .d-box {
   background: #fcffff;
   transition: all .3s ease;
   max-width: 25rem;
   min-width: 20rem;
   padding: 1.5rem 1.5rem;
   overflow: hidden;
   height: fit-content;
   border-radius: 2rem;
   transform: all .4s ease;
   transform: rotate(0deg);
 }

 .d-box:hover {
 
box-shadow: none;
transform: rotate(3deg);
 }

 .d-box img {
  border-radius: .4rem;
   margin-top: .8rem;
   width: 100%;
   min-height: 10rem;
max-height: 10rem;
    
 }

 .d-box:hover {
   background: #f9f9f9;
 }

 /* skill section  */
 .skill-grid{
  width: 100%;
  height: 100%;
  gap: 1rem;
  row-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
 }
 .skill-box{
  max-width: 7rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 7.8rem;
  border-radius: 1.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .3rem;
  align-items: center;
 transition: all .4s linear;
 background-color: #f7f7ff;
 
 }
 

 .skill-box:hover{
  transform: scale(1.01);
border-top-right-radius: 7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .skill-box p{
  color: rgb(246, 238, 255);
  font-weight: 600;
 }
 .skill-box img{
  width: 3rem;
  height: 3rem;
 }


 .contact-grid{
  width: 100%;
  height: 100%;
  gap: 1rem;
  row-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
 }
.contact-box{
  max-width: 14rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 12.8rem;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: .9rem;
  padding: 1.6rem;
  align-items: flex-start;
 transition: all .4s linear;
 
}
 .contact-box img{
  width: 3rem;
  height: 3rem;
  border-radius: .5rem;
 }
 .contact-box button{
  outline: none;
  border: none;
  transition: all .4s linear;
  padding: .3rem .7rem;
  background-color: #649dff;
 }
 .contact-box button:hover{
  background-color: #3b7ff4;

 }
 button:active{
  background-color: #161616;
 }
 .contact-box p{
  color: #635f5f;
 }
 .contact-box button{
  border-radius: .4rem;
  font-size: .8rem;
  color: white;
  font-weight: 500;
 }

/* Job section  */
.job-boxs{
  display: flex;
width: 100%;
gap: 1rem;
height: 20rem;
 
}
.job-list{
 width: 30%;

  list-style: none;
}
.job-list li{
 
  padding: .5rem 1rem;
  margin: .6rem ;
   cursor: pointer;
  background-color: #efeef8;
  transition: all .2s linear;
}
.job-list li:hover{
  background-color: #dfdef3;
}
 .job-desc{
  width: 70%;
  padding-left: 2rem;
 }
.job-profile h3{
  font-size: 1.3rem;
  margin-bottom: .4rem;
}
.job-profile p{
  font-size: .8rem;
}
.job-profile{
  margin-bottom: 1rem;
}
.job-desc-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style: none;
}
.job-desc-list li{
  font-family: "Poppins", sans-serif;
 
}


@media (max-width:1100px) {
  html{
    font-size: 90%;
  }
}
@media (max-width:1020px) {
  html{
    font-size: 87%;
  }
}

@media (max-width:1000px) {
  html{
    font-size: 100%;
  }
 
  .main {
 
    display: flex;
   width: 100%;
    height: fit-content;
 align-items: center;
 justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding: 4rem 4.5rem;
  }
  .d-box-container {
    height: fit-content;
   
    
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
   }
   .description {
    width: 100%;
 display: flex;
 flex-direction: column;
 gap: 2rem;
    padding: 1rem;
 
    height: fit-content;
  
  }
  .d-boxs {
    width: 100%;
    height: 100%;
    margin-bottom: 0rem;
   
  }
  .job-boxs{
    display: flex;
  width: 100%;
  gap: 1rem;
  height: 17rem;
   
  }
  .contact-grid{
    width: 100%;
    height: fit-content;
    gap: 1rem;
    row-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   }
   .skill-grid{
    width: 100%;
    height: fit-content;
    gap: 1rem;
    row-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
   }


   .about-section {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }


}

@media (max-width:850px){
  html{
    font-size: 90%;
  }
}

@media (max-width:780px){
  html{
    font-size: 85%;
  }
}

@media (max-width:750px){
  html{
    font-size: 80%;
  }
  .main{
    padding: 4rem 3.5rem;
  }
  .d-box-container{
    justify-items: center;
  }
}

@media (max-width:690px){
  html{
    font-size: 75%;
  }
  .main{
    padding: 4rem 3.5rem;
  }
  .d-box-container{
    justify-items: center;
  }
}

@media (max-width:690px){
  .main{
    padding: 4rem 1rem;
  }
}
@media (max-width:560px){
  .main{
    padding: 4rem 1rem;
  }
  html{
    font-size: 72%;
  }
}

@media (max-width:560px){
  html{
    font-size: 100%;
  }
  .d-box-container{
    grid-template-columns: 1fr;
  }
  .skill-grid{
    grid-template-columns: repeat(3,1fr);
 place-items: center;

 
  }
  .skill-box{
    width: 7rem;
  }
  .contact-grid{
    grid-template-columns: repeat(2,1fr);
  }
  .job-list{
    display: flex;
    width: 100%;
   margin-bottom: 1rem;
  }
  .job-boxs{
    flex-direction: column;
    height: 22rem;
  }
  .job-desc{
   
    width: 100%;
  }
.heading{
  margin: 0;
  padding-bottom: 0;
}
.job-profile{
  margin-bottom: 2rem;
}
  .job-desc-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    list-style: square;
  }
 
}

@media (max-width:510px) {
 .description{
  padding: 0;
 }
  .contact-grid{
 
    grid-template-columns: repeat(2,1fr);
  }
  .contact-box{
    max-width: 14rem;
  }
}

@media (max-width:460px) {
  html{
    font-size: 95%;
  }
}

@media (max-width:430px) {
  html{
    font-size: 90%;
  }

  .skill-grid{
    grid-template-columns: repeat(3,1fr);
 place-items: center;

 
  }
  .skill-box{
    width: 10rem;
  }
  .contact-box{
    min-width: 20rem;
    height: 15rem;
    padding-top: 2.5rem;
    gap: 1.4rem;
  }
  .contact-grid{
    place-items: center;
    grid-template-columns: repeat(1,1fr);
  }
  .contact-box p{
    font-size: 1.2rem;
  }
  .contact-box button{
    font-size: 1.0rem;
  }
  .contact-box img{
    width: 3.4rem;
    height: 3.4rem;
  }
}

@media (max-width:370px) {
 
  .skill-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:330px) {
 
html{
  font-size: 84%;
}
.job-desc{
  padding-left: .4rem;
}
.job-desc-list{
  list-style: none;
}
}


@media (max-width:330px) {
 
  html{
    font-size: 80%;
  }
}

@media (max-width:300px) {
 
  html{
    font-size: 75%;
  }
}